<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css" >

        <title>Hello, world!</title>
    </head>
    <body>

 <!-- Header Area -->        
        <div id="header_area">
            <div class="container">
                <div class="row">
                    <div class="main_menu">
                        <ul>
                            <li>
                                <a href="">
                                    <img class="img-fluid" src="images/logo.png" />
                                </a>
                            </li>
                            <li>
                                <a href="#about_us">About us</a>
                            </li>
                            <li>
                                <a href="">On Tap</a>
                            </li>
                            <li>
                                <a href="">Events</a>
                            </li>
                            <li>
                                <a href="">Faq</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


 <!-- Intro -->
        <div id="intro">
            <div class="container">
                <div class="center_image row justify-content-md-center">
                    <div class="col col-lg-2">
                    </div>
                    <div class="text-center">
                        <div class="col-md-auto">
                            <img src="images/large_logo.png" class="img-fluid" alt="Angry Horse Logo"/>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="tagline">
                        BREWING EXCEPTIONAL CRAFT BEER IN THE HEART OF MONTEBELLO
                    </div>
                </div>
            </div>
        </div>


        
 <!-- About Us -->
        <div id="about_us">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">
                    </div>
                    <div class="col-md-7">
                        <div class="content">
                            <h3>
                                    about us
                            </h3>
                            <p>
                                In March of 2017, the Desert Brothers opened their first taproom and are now brewing
                                and serving independent craft beer in Montebello CA.
                            </p>
                            <p>
                                We pride ourselves on our classic, yet distint flavors; embracing the old world of
                                beer, through the lens of a new world approach. We aim to innovate and produce a 
                                quality, hand crafted product for any occation or culinary experience.
                            </p>
                            <p>
                                We strive to be a benefit corporation and purveyors of our community by embracing it 
                                and revitalizing it, through one craft beer at a time.
                            </p>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                              
                    </div>
                </div>
            </div>
        </div>


 <!-- Featured Beer -->
        <div id="featured">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2"></div>
                    <div class="col-md-7">
                        <div class="content">
                            <h3>Featured</h3>
                        </div>
                    </div>
                    <div class="col col-lg-2"></div>
                </div>
            </div>
        </div>

        <div id="team">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-1"></div>
                    <div class="col-md-9">
                        <div class="content">
                            <h3>Our Team</h3>
                            <div class="white_line"></div>
                            <div class="col col-md-3 team">
                                <img class="img-fluid empoyee_image" src="./images/mark.jpg">
                                <div class="employee_name">Mark Gilbert</div>
                                <div class="employee_title">Founder</div>
                                <div class="white_line"></div>
                                <div class="employee_more">Learn More</div>
                            </div> 

                            <div class="col col-md-3 team">
                                <img class="img-fluid empoyee_image" src="./images/marcia.jpg">
                                <div class="employee_name">Marcia Gilbert</div>
                                <div class="employee_title">Founder</div>
                                <div class="white_line"></div>
                                <div class="employee_more">Learn More</div>
                            </div> 

                            <div class="col col-md-3 team">
                                    <img class="img-fluid empoyee_image" src="./images/marcia.jpg">
                                    <div class="employee_name">Marcia Gilbert</div>
                                    <div class="employee_title">Founder</div>
                                    <div class="white_line"></div>
                                    <div class="employee_more">Learn More</div>
                            </div> 

                        </div>
                    </div>
                    <div class="col col-lg-1"></div>
                </div>
            </div>
        </div>

        <div id="instagram">
            <div class="row justify-content-enter">
                s
            </div>
            
        </div>

        <div id="footer">
            <div class="container">
                <div class="row justify-content-md-center footer_content">
                    <div class="col col-md-2"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3 find_us">
                        <h3>Find Us</h3>
                        <p>info@angryhorsebrewing.com<br />
                        (323) 530-0015 | <a href="https://www.google.com/maps/place/Angry+Horse+Brewing/@34.0095025,-118.1063756,15z/data=!4m5!3m4!1s0x0:0xb6b1bb60ac274273!8m2!3d34.0095025!4d-118.1063756" target="_blank">MAP IT</a></p>
                        <div class="social">
                            <a href="https://www.instagram.com/angryhorsebrewing/" target="_blank"><img src="./images/instagram_icon.png"></a>
                            <a href="https://www.facebook.com/angryhorsebrewing" target="_blank"><img src="./images/facebook_icon.png"></a>
                            <a href="https://twitter.com/angryhorsebrew" target="_blank"><img src="./images/twitter_icon.png" ></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h3>HOURS</h3>
                        <p>
                            Wed - Thur 2:00 PM - 10:00 PM<br />
                            Friday 2:00 PM - 12:00 AM <br />
                            Saturday 12:00 PM - 12:00 AM<br />
                            Sunday 12:00 PM - 10:00 PM
                        </p>
                    </div>
                    <div class="col-lg-1"><img src="./images/independant_logo.png"></div>
                    
                    <div class="col col-md-2"></div>
                </div>
            </div>
        </div>

        <div id="copywrite">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2"></div>
                    <div class="col-md-7 copywrite_content"><img src="images/AHB_SubLogo.png" />Copywrite Angry Horse Brewing</div>
                    <div class="col col-lg-2"></div>
                </div>
            </div>
        </div>


        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
        (function($){
            "use strict";
            $('.next').click(function(){ $('.carousel').carousel('next');return false; });
            $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
        })	
        (jQuery);
        </script>
        <script>
            $(document).ready(function(){
                var token = '1724092469.1224e11.2c87438160974393bc5f3c1c74d45234', // learn how to obtain it below
                    userid = 1724092469, // User ID - get it in source HTML of your Instagram profile or look at the next example :)
                    num_photos = 18; // how much photos do you want to get
                
                $.ajax({
                    url: 'https://api.instagram.com/v1/users/' + userid + '/media/recent', // or /users/self/media/recent for Sandbox
                    dataType: 'jsonp',
                    type: 'GET',
                    data: {access_token: token, count: num_photos},
                    success: function(data){
                        console.log(data);
                        for( x in data.data ){
                            $('#instagram').append('<div class="intagram_image"><img class="img-fluid" src="'+data.data[x].images.standard_resolution.url +'"></div'); 
                            // data.data[x].images.low_resolution.url - URL of image, 306х306
                            // data.data[x].images.thumbnail.url - URL of image 150х150
                            // data.data[x].images.standard_resolution.url - URL of image 612х612
                            // data.data[x].link - Instagram post URL 
                        }
                    },
                    error: function(data){
                        console.log(data); // send the error notifications to console
                    }
                });
            });
        </script>
    </body>
</html>