body{
    background-color:#ffffff;
}

#header_area{
    border-top: 11px solid #e6cb32;
    border-bottom: 10px solid #000000;
    background-image: url(/img/wood_background.jpg);
    height: 190px;
    font: 40px;
}
